.btn1 {
  background-color: #087f65;
  border-radius: 4px;
  color: aliceblue;
}
.fonts {
  color: #087f65;
}

.shadow1 {
  border-radius: 22px;
  /* background: #e0e0e0;
    box-shadow:  25px 25px 60px #898989,
                 -25px -25px 60px #ffffff; */
}
.shadow1:hover {
  border-radius: 16px;
  background: #e0e0e0;
  box-shadow: 5px 5px 0px #087f65, -5px -5px 0px #ffffff;
}
.jobs:hover .apply {
  background-color: #087f65;
  color: #ffffff;
  transition: padding 1s ease-out;
  padding-right: 20px;
}
.jobs:hover {
  box-shadow: 5px 5px 0px #ffffff , -5px -5px 0px  #087f65;
  transition: box-shadow 600ms;
}

.topImg {
  transform: rotate(180deg);
  position: absolute;
  top: 0px;
}
